.kotak_login{
	width: 350px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
}

 
.form_login{
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.form-inline {
	white-space: nowrap;
}

.form-inline label{
	margin-right: 8px;
	font-size: large;
	width: 100px;
	display:inline-block
}
 
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 130%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_cancel{
	background: #f55549;
	color: white;
	font-size: 11pt;
	width: 30%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}